{% load cms_tags static thumbnail %}
<div class="usa-identifier">
    <section
    class="usa-identifier__section usa-identifier__section--masthead"
    aria-label="Agency identifier"
    >
    <div class="usa-identifier__container">
        <div class="usa-identifier__logos">
            <a href="http://{{ instance.agency_domain }}" class="usa-identifier__logo">
                <img
                class="usa-identifier__logo-img"
                src="{% if not instance.agency_logo %}{% static 'img/circle-gray-20.svg' %}{% else %} {% thumbnail instance.agency_logo 250x250 crop %} {% endif %}"
                alt="{{ instance.default_alt_text  }}"
                role="img"/>
            </a>
        </div>
        <section
        class="usa-identifier__identity"
        aria-label="Agency description"
        >
        <p class="usa-identifier__identity-domain">{{ instance.agency_domain }}</p>
        <p class="usa-identifier__identity-disclaimer">
            An official website of the <a href="">{{ instance.agency_name }}</a>
        </p>
        </section>
    </div>
    
    </section>
    <nav
        class="usa-identifier__section usa-identifier__section--required-links"
        aria-label="Important links"
    >
    <div class="usa-identifier__container">
        <ul class="usa-identifier__required-links-list">
            {% for link in instance.footer_agency_menu_link.all %}
                <li class="usa-identifier__required-links-item">
                    {% if link.is_external %}
                        <a
                            href="{{ link.external_url }}"
                            class="usa-identifier__required-link usa-link usa-link--external"
                        >
                    {% else %}
                        <a
                            href="{{ link.internal.get_absolute_url }}"
                            class="usa-identifier__required-link usa-link"
                        >
                    {% endif %}
                        {{ link.link_title }}
                    </a>
                </li>
            {% endfor %}
        </ul>
    </div>
    </nav>
    <section
        class="usa-identifier__section usa-identifier__section--usagov"
        aria-label="U.S. government information and services"
    >
        <div class="usa-identifier__container">
            <div class="usa-identifier__usagov-description">
                {{ instance.services_description }}
            </div>
            <a href="{{ instance.services_link_url }}" class="usa-link">&nbsp;{{ instance.services_link_title }}</a>
        </div>
    </section>
</div>
