{% load cms_tags static thumbnail %}
<div class="usa-footer__secondary-section">
    <div class="grid-container">
        <div class="grid-row grid-gap">
            <div class=" usa-footer__logo grid-row mobile-lg:grid-col-6 mobile-lg:grid-gap-2 ">
                <div class="mobile-lg:grid-col-auto">
                    <img
                        class="usa-footer__logo-img"
                        src="{% if not instance.agency_logo %}{% static 'img/logo-img.png' %}{% else %} {% thumbnail instance.agency_logo 250x250 crop %} {% endif %}"
                        alt="{{ instance.agency_logo.default_alt_text }}"
                        role="img"/>
                </div>
                <div class="mobile-lg:grid-col-auto">
                    <p class="usa-footer__logo-heading">{{ instance.agency_name }}</p>
                </div>
            </div>
            <div class="usa-footer__contact-links mobile-lg:grid-col-6">
                <div class="usa-footer__social-links grid-row grid-gap-1">
                    {% if instance.facebook_url %}
                        <div class="grid-col-auto">
                            <a class="usa-social-link" href="{{ instance.facebook_url }}">
                                <img class="usa-social-link__icon"
                                     src="{% static 'img/usa-icons/facebook.svg' %}"
                                     alt="Facebook"/>
                            </a>
                        </div>
                    {% endif %}
                    {% if instance.twitter_url %}
                        <div class="grid-col-auto">
                            <a class="usa-social-link" href="{{ instance.twitter_url }}">
                                <img class="usa-social-link__icon"
                                     src="{% static 'img/usa-icons/twitter.svg' %}"
                                     alt="Twitter"/>
                            </a>
                        </div>
                    {% endif %}
                    {% if instance.youtube_url %}
                        <div class="grid-col-auto">
                            <a class="usa-social-link" href="{{ instance.youtube_url }}">
                                <img class="usa-social-link__icon"
                                     src="{% static 'img/usa-icons/youtube.svg' %}"
                                     alt="YouTube"/>
                            </a>
                        </div>
                    {% endif %}
                    {% if instance.instagram_url %}
                        <div class="grid-col-auto">
                            <a class="usa-social-link" href="{{ instance.instagram_url }}">
                                <img class="usa-social-link__icon"
                                     src="{% static 'img/usa-icons/instagram.svg' %}"
                                     alt="Instagram"/>
                            </a>
                        </div>
                    {% endif %}
                    {% if instance.rss_url %}
                        <div class="grid-col-auto">
                            <a class="usa-social-link" href="{{ instance.rss_url }}">
                                <img class="usa-social-link__icon"
                                     src="{% static 'img/usa-icons/rss_feed.svg' %}"
                                     alt="RSS"/>
                            </a>
                        </div>
                    {% endif %}

                </div>
                {% if instance.contact_title %}
                    <p class="usa-footer__contact-heading">{{ instance.contact_title }}</p>
                {% endif %}
                {% if instance.contact_phone or instance.contact_email %}
                    <address class="usa-footer__address">
                        <div class="usa-footer__contact-info grid-row grid-gap">
                            <div class="grid-col-auto">
                                <a href="tel:{{ instance.contact_phone }}">{{ instance.contact_phone_label }}</a>
                            </div>
                            <div class="grid-col-auto">
                                <a href="mailto:{{ instance.contact_email }}">{{ instance.contact_email_label }}</a>
                            </div>
                        </div>
                    </address>
                {% endif %}
            </div>
        </div>
    </div>
</div>